<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Departments</h1>

                <h2 class="sub-header">Department List</h2>
                <a href="#/resource/departmentForm" type="button" class="btn btn-xs btn-primary right"  ng-click="showDeptForm()">Add New</a>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Department Code</th>
                            <th>Department Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in deptList">
                            <th>{{d.departmentCode}}</th>
                            <th>{{d.departmentName}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
