<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
<div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Departments</h1>

            <h2 class="sub-header">Department Details</h2>

            <form ng-submit="submitForm()">
                <div class="form-group row">
                    <label for="department-code" class="col-2 col-form-label">Department Code</label>
                    <div class="col-10">
                        <input class="form-control" ng-model="dept_code" type="text" placeholder="Enter Department Code Here" id="department-code" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="department-name" class="col-2 col-form-label">Department Name</label>
                    <div class="col-10">
                        <input class="form-control" ng-model="dept_name" type="text" placeholder="Enter Department Name Here" id="department-name" />
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Save" />
                <button type="button" class="btn btn-primary">Cancel</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
