<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<div class="col-sm-3 col-md-2 sidebar" th:fragment="sidemenu">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#/resource/dashboard" ng-click="home()">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#/resource/reports" ng-click="viewReport()">Reports</a></li>
        <li><a href="#/resource/projects" ng-click="viewProjects()">Project Management</a></li>
        <li><a href="#/resource/employees" ng-click="viewEmployees()">Employee Management</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#/resource/departments" ng-click="viewProjects()">Department Management</a></li>
        <li><a href="#/resource/positions" ng-click="viewEmployees()">Position Management</a></li>
    </ul>
</div>
</body>
</html>